<%= render 'shared/errors', obj: @user %>

<div class="well">
  <%= form_for @user do |f| %>
    <div class="control-group">
        <%= f.label :username %>
        <%= f.text_field :username %>
    </div>
    <div class="control-group">
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>
    <div class="control-group">
        <label class="checkbox"><input type="checkbox" id="two-factor-toggle">Turn on two-factor authentication</label>
        <%= f.label :phone %>
        <%= f.text_field :phone, readonly: true %>
    </div>
    <div class="control-group">
        <%= f.label :timezone %>
        <%= f.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones, default: Time.zone.name %>
    </div>
    <%= f.submit @user.new_record? ? 'Reigster' : 'Update Profile', class: 'btn btn-success' %>
  <% end %>
</div>